#!/usr/bin/make -f

export PYBUILD_NAME=bottle-login
export PYBUILD_VERSIONS=2.7 3.5
export PYBUILD_DESTDIR_python2=debian/python-bottle-login/
export PYBUILD_DESTDIR_python3=debian/python3-bottle-login/
export DH_VERBOSE=1

%:
	dh $@ --with python2,python3 --buildsystem=pybuild


override_dh_python2:
	dh_python2 --no-guessing-versions
